@import "core/hero";
@import "core/footer";
@import "core/variables";
@import "components/typography";

body {
  margin: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.s1 {
  padding: 30px 15px 45px 15px;
/*   height: 376px; */
}

.small_title {
  font-family: $Roboto_reg_400;
  font-size: 14px;
  line-height: 30px;
  color: $color-lightblue;
  margin: 0;
}

.par_title {
  font-family: $Roboto_slab;
  font-size: 24px;
  margin: 0 0 15px 0;
}

.par {
  margin: 0;
  font-family: $Roboto_reg_400;
  font-size: 18px;
  line-height: 30px;
}

.greypar {
  color: $color_grey;
}

.s2 {
  text-align: center;
  background-color: $color-iceblue;
  height: 624px;
  padding: 30px 15px 0 15px;

}

.text_box {
  display: grid;
  justify-content: center;
  grid-template-rows: 90px 90px 90px 45px;
  grid-gap: 45px;
  padding-top: 45px;
  padding-bottom: 60px;
  margin: 0 68px 0 68px;
}

.par_subtitle {
  margin: 0;
  padding: 0;
  font-family: $Roboto_slab;
  font-size: 18px;
  line-height: 30px;
}

.btn {
  border: $color-orange solid 2px;
  background: $color-white;
  height: 45px;
  width: 76px;
  border-radius: 22.5px;
  margin: 30px 0 0 0;
  font-family: $Roboto_reg_400;
  font-size: 20px;
  font-weight: 500;
  color: $color-orange;
  transition: all ease 2s;
}

.btn_default {
  width: 184px;
  background: $color-orange;
  margin: 0;
  color: $color-white;
  transition: all ease 2s;
}

.btn:hover {
    background: $color-orange;
    color: $color-white;
}

.btn_default:hover {
  background: $color-white;
  color: $color-orange;
}

@media all and (min-width: 768px) {

  .s1 {
    padding: 30px 39px;
    margin: 0;
    height: 270px;
  }
  
  .small_title {
    margin: 0;
    font-size: 14px;
  }
  
  .par_title {
    padding-bottom: 30px;
    font-size: 26px;
    line-height: 45px;
    font-weight: bold;
  }
  
  .par {
    font-size: 20px;
    line-height: 30px;
  }
  
  .greypar {
    color: $color_grey;
  }

  .s2 {
    text-align: center;
    background-color: $color-iceblue;
    padding-top: 30px;
    padding-right: 15px;
    padding-left: 15px;
     height: 397px;;
  }

  .s2, .par_title {
    margin: 0;
  }
  
  .text_box {
    grid-template-columns: 212.3px 212.3px 212.3px;
    grid-template-rows: 105px 45px;
    grid-column-gap: 27.7px;
    grid-row-gap: 60px;
    padding-top: 15px;
    padding-bottom: 67px;
    margin: 0 40px 0 40px;
  }
  
  .par_subtitle {
    font-size: 24px;
    padding-bottom: 14px;
  }

  .btn {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .btn_default {
    margin: 0;
    padding: 0;
  }

}