<section class="s3">
  <div class="up">
    <a class="up__circle" href="#top_hero">
      <img class="up__arrow" src="./assets/images/ico-arrow.svg"
    /></a>
  </div>

  <section class="list">
    <nav>
      <ul class="list__menu">
        <li><a href="#" class="list__item">ARTICLES</a></li>
        <li><a href="#" class="list__item">BOOKS</a></li>
        <li><a href="#" class="list__item">EVENTS</a></li>
        <li><a href="#" class="list__item">REASONS</a></li>
        <li><a href="#" class="list__item">TIPS</a></li>
      </ul>
    </nav>

    <ul class="list__menu">
      <li><a href="https://www.linkedin.com/in/luzaguirremorales/" class="list__item">LINKEDIN</a></li>
      <li><a href="https://twitter.com/light__am" class="list__item">TWITTER</a></li>
      <li><a href="https://github.com/luzagm" class="list__item">GITHUB</a></li>
    </ul>

    <div class="list__bottom">
      <div>©2019</div>
      <div>we <span class="list__bottom--heart">❤︎</span> components</div>
    </div>
  </section>
</section>