<section class="s3">
  <div class="up">
    <a class="up_circle" href="#top_hero">
    <img class="up_arrow" src="./assets/images/ico-arrow.svg" /></a>
  </div>

  <nav class="list">
    <ul class="list_menu">
      <li><a href="#" class="list_item">ARTICLES</a></li>
      <li><a href="#" class="list_item">BOOKS</a></li>
      <li><a href="#" class="list_item">EVENTS</a></li>
      <li><a href="#" class="list_item">REASONS</a></li>
      <li><a href="#" class="list_item">TIPS</a></li>
    </ul>

    <ul class="list_menu">
      <li><a href="#" class="list_item">TWITTER</a></li>
      <li><a href="#" class="list_item">INSTAGRAM</a></li>
      <li><a href="#" class="list_item">MASTODON.SOCIAL</a></li>
    </ul>

    <div class="list_bottom">
      <div>©2017</div>
      <div>we <span class="list_bottom_heart">❤︎</span> components</div>
    </div>
  </nav>
</section>
