<main id="main" class="main">
  <section class="s1">
    <h5 class="small_title">Insomnia Tips</h5>
    <h2 class="par_title">Looking Through A Window</h2>
    <p class="par greypar">
      Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <div>
      <button class="btn" href="#">GO</button>
    </div>
  </section>

  <section class="s2">
    <div>
      <h2 class="par_title">3 Reasons To Purchase</h2>
    </div>
    <div class="text_box">
      <div>
        <h4 class="par_subtitle">Ut sed metus</h4>
        <p class="par">Lorem ipsum dolor sit amet, consecteur.</p>
      </div>
      <div>
        <h4 class="par_subtitle">Curabitur ac erat</h4>
        <p class="par">Mauris mattis urna quis lorem molestie.</p>
      </div>
      <div>
        <h4 class="par_subtitle">Morbi dictum</h4>
        <p class="par">Aliquam in dolor et dolor tincidunt.</p>
      </div>

      <div class="btn_default_box">
        <button class="btn btn_default" href="#">More reasons</button>
      </div>
    </div>
  </section>
</main>
