<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,500&display=swap"
      rel="stylesheet"
    />
    <title>Modulo 1 - Examen final</title>
    <link rel="icon" href="assets/images/cat-favicon.jpg" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>

  <body>
    <partial src="_header.html"></partial>

    <main id="main" class="main">
      <section class="s1">
        <h5 class="small_title">Insomnia Tips</h5>
        <h2 class="par_title">Looking Through A Window</h2>
        <p class="par greypar">
          Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis,
          at luctus ex diam nec lectus. Vivamus semper sodales rutrum.
        </p>
        <div>
          <button class="btn" href="#">GO</button>
        </div>
      </section>

      <section class="s2">
        <div>
          <h2 class="par_title">3 Reasons To Purchase</h2>
        </div>
        <div class="text_box">
          <div>
            <h4 class="par_subtitle">Ut sed metus</h4>
            <p class="par">Lorem ipsum dolor sit amet, consecteur.</p>
          </div>
          <div>
            <h4 class="par_subtitle">Curabitur ac erat</h4>
            <p class="par">Mauris mattis urna quis lorem molestie.</p>
          </div>
          <div>
            <h4 class="par_subtitle">Morbi dictum</h4>
            <p class="par">Aliquam in dolor et dolor tincidunt.</p>
          </div>

          <div class="btn_default_box">
            <button class="btn btn_default" href="#">More reasons</button>
          </div>
        </div>
      </section>
    </main>

    <partial src="_footer.html"></partial>
  </body>
</html>
