<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,500&display=swap"
      rel="stylesheet"
    />
    <title>Modulo 1 - Examen final</title>
    <link rel="icon" href="favicon.png" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>

  <body>
    <header>
      <div class="menu">
        <img class="menu_icon" src="./assets/images/ico-menu.svg" />
      </div>

      <div class="hero_image">
        <div class="hero_text">
          <h1 class="title">ANONYMOUS PROXY</h1>
          <h4 class="subtitle">In hac habitasse platea dictumst.</h4>
        </div>
      </div>

      <div class="down" href="#main">
        <a class="down_circle">
          <img class="down_arrow" src="./assets/images/ico-scroll-down.svg" />
        </a>
      </div>
    </header>

    <main id="main" class="main">
      <section class="s1">
        <h5 class="bluetitle">Insomnia Tips</h5>
        <h2 class="par_title">Looking Through A Window</h2>
        <p class="par">
          Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis,
          at luctus ex diam nec lectus. Vivamus semper sodales rutrum.
        </p>
        <div>
            <button class="btn" href="#">GO</button>
          </div>
      </section>

      <section class="s2">
        <div>
          <h2 class="par_title">3 Reasons To Purchase</h2>
        </div>
        
        <div class="text_box">
          <div>
            <h4 class="par_subtitle">Ut sed metus</h4>
            <p class="par">Lorem ipsum dolor sit amet, consecteur.</p>
          </div>
          <div>
            <h4 class="par_subtitle">Curabitur ac erat</h4>
            <p class="par">Mauris mattis urna quis lorem molestie.</p>
          </div>
          <div>
            <h4 class="par_subtitle">Morbi dictum</h4>
            <p class="par">Aliquam in dolor et dolor tincidunt.</p>
          </div>
          
          <div>
              <button class="btn btn_default">More reasons</button>
            </div>
        
          </div>
      </section>
    </main>

    <!-- <div class="page">
    <partial src="_header.html" label="Header"></partial>
    <partial src="_main.html" label="Main"></partial>
  </div> -->
  </body>
</html>
