@import "core/variables";
@import "components/typography";

.s3 {
  background-color: $color-darkblue;
  height: 465px;
  color: $color-white;
}

.up {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  width: 100vw;
  bottom: 22.5px;

  &_circle {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: $color-white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }

  &_arrow {
    padding: 12px 12px 10px 12px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: $Roboto_reg_400;
  line-height: 30px;

  &_menu {
    list-style: none;
    padding: 15px 0;
    margin: 0;
  }

  &_item {
    list-style: none;
    text-decoration: none;
    color: $color-white;
  }

  &_bottom {
    font-size: 14px;
    line-height: 30px;
  }
}

.list_bottom_heart {
  color: $color-orange;
}

@media all and (min-width: 768px) {
  .s3 {
    height: 240px;
  }
  .list {
    flex-direction: row;
    justify-content: space-around;
    text-align: left;

    &_bottom {
      font-size: 14px;
      line-height: 30px;
      order: -1;
    }
  }
}

@media all and (min-width: 1280px) {
  .list {
    margin: 0 370px;
  }

  .list_bottom {
    padding-top: 15px;
  }

  .up:hover {
    animation: "jump" ease 2s infinite;
  }
}

@keyframes jump {
  20%  { transform: translateX(12px);  }
  40%  { transform: translateX(-12px); }
  60%  { transform: translateX(8px);  }
  80%  { transform: translateX(-4px); }
  100% { transform: translateX(0);    }
}