@import "core/variables";
@import "components/typography";

.menu {
  position: fixed;
  z-index: 1;
  height: 44px;
  background-color: $color-mediumblue;

  &__icon {
    padding: 15px;
  }
}

.hero {
  &__image {
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 30vh;
    color: $color-white;
  }

  &__title {
    width: 290px;
    text-align: center;
    font-family: $Roboto_slab;
    font-size: 42px;
    line-height: 52px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  }

  &__subtitle {
    font-family: $Roboto_reg_400;
    line-height: 21px;
  }
}

.down {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100vw;
  top: 48vh;

  &__circle {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: $color-white;
    z-index: 0;
  }

  &__arrow {
    position: absolute;
    padding: 18px 12px 15px 13px;
  }
}

@media all and (min-width: 768px) {
  .hero {
    &__text {
      top: 40vh;
      width: 100vw;
    }

    &__title {
      width: 690px;
      font-weight: bold;
      font-size: 80px;
      line-height: 106px;
    }

    &__subtitle {
      margin-top: 20px;
      font-weight: normal;
      font-size: 24px;
      line-height: 32px;
    }
  }

  .down {
    top: 72vh;
  }
}

@media all and (min-width: 1024px) {
  .hero {
    &__title {
      font-size: 100px;
      line-height: 132px;
    }

    &__subtitle {
      margin-top: 0;
    }
  }

  .down {
    top: 93vh;
  }
}
